/*=============================================
=            Bootstrap Overriddes            =
=============================================*/

/**
 *
 * * Global overides
 *
 */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Karla", sans-serif;
  color: var(--gray-dark);
  line-height: 1.5;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 1.5px;
}

blockquote {
  font-style: italic;
  line-height: 1.75;
  text-align: center;
}

/**
 *
 * custom scrollbar
 *
 */

html {
  --scrollbarBG: transparent;
  --thumbBG: #90a4ae;
}
*::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/**
 *
 * * Colors
 *
 */

$red: #e84151;
$green: #40bb82;
$blue: #1d648b;
$yellow: #fdb90c;

$primary: $red;
$primaryDarker: $primary;
:root {
  --primary: #{$red};
  --gray-darkest: #212529;
  --black: #000;
  --radiius: 16px;
  --cardBG: #f0f0f0;
  --yellow: #{$yellow};
  --red: #{$red};
  --green: #{$green};
  --blue: #{$blue};
}

/**
 *
 * * Typography
 *
 */

/**
 *
 ** Button
 *
 */
.btn {
  --bg: #{$primary};
  --bgHover: #{$primaryDarker};
  border-radius: 100px;
  font-weight: normal;
  &-primary {
    background-color: var(--bg);
    border-color: var(--bg);
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(:disabled):active,
    &:not(:disabled):not(:disabled):active:focus {
      background-color: var(--bgHover);
      border-color: var(--bgHover);
      box-shadow: 0 0 0 0.2rem rgba(var(--bg), 0.5);
    }
  }

  &-lg {
    padding: 18px 36px;
  }
}

/**
  *
  * * Form
  *
  */
.form-group {
  > label {
    text-transform: capitalize;
    font-weight: 600;
  }
}
.form-label {
  font-size: 18px;
  font-weight: 600;
}
/**
   *
   * img
   *
   */

.img-fluid {
  &.img-rounded {
    border-radius: var(--radiius);
    margin-top: 0;
    transform: translateY(0);
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      margin-top: -5px;
      // transform:translateY(-15px);
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    }
  }
}

.img-sticky {
  position: sticky;
  top: 100px;
}

/*=============================================
=            navbar /header            =
=============================================*/
.navbar {
  background-color: #fff;
  &-brand {
    left: 0;
    position: relative;
    transition: all 0.3s;

    img {
      transition: all 0.3s;
      height: 50px;
    }
  }

  .nav-link {
    padding: 6px 16px;
  }

  .nav-item--shop {
    .nav-link {
      border: 1px solid $red;
      border-radius: 20px;
      transition: all 0.3s;
      color: $red !important;
      text-align:center;

      &:hover,
      &:focus {
        background-color: var(--red);
        color: white !important;
      }
    }
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  @media (min-width: 992px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

%dropdownMenu {
  @media (min-width: 992px) {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
.navbar-light .navbar-nav {
  .dropdown-menu {
    border:none;
    padding:0;
    margin-bottom: 16px;
    @media (min-width: 992px) {
      display: block;

      background-color: $red;
      transform: translateY(15px);
      opacity: 0;
      visibility: hidden;
    }
    transition: all 0.3s;

    .dropdown-item {
      text-transform: capitalize;
      padding: 0.5rem 1.5rem;
      &:hover, &:focus, &:active, &.active {
        background-color: $red;
        color:white;
      }
      @media (min-width: 992px) {
        color: white;
        &:hover {
          background-color: darken($red, 10%);
        }
      }
    }
  }
  .nav-item {
    &:not(:last-child) {
      @media(min-width:992px){
        margin-right:16px;
      }
    }
    >.nav-link {
      text-transform: capitalize;
    }
    .nav-link {
      color: var(--gray);
      
    }

    &:hover {
      .nav-link {
        color: var(--red);
      }
    }

    &.show {
      .nav-link {
        color: var(--red);
      }
    }

    &.dropdown {
      &:hover {
        .dropdown-menu {
          @extend %dropdownMenu;
        }
      }

      &.show {
        .dropdown-menu {
          @extend %dropdownMenu;
        }
      }
    }
  }
}
.navbar-nav .nav-link {
  font-size: 18px;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:after {
    transform: rotate(0deg);
    font-family: "Material Icons";
    content: "\e313";
    border: none;
    transition: all 0.3s;
    margin-right: -14px;

    @at-root .dropdown.show & {
      transform: rotate(180deg);
    }

    @at-root .dropdown:hover & {
      transform: rotate(180deg);
    }
  }
}
#header {
  position:sticky;
  top:0;
  left:0;
  right:0;
  z-index: 10;
}

/*=============================================
=            hero             =
=============================================*/

.hero {
  --maxHeight: 43.75rem; //700px
  // max-height: var(--maxHeight);
  // height: 100vh;
  padding-bottom: 160px !important;
  display:flex;
  min-height:var(--maxHeight);
  &[data-background] {
    background: url(../img/hero-illustration.png) no-repeat center bottom, 
    url(../img/hero-bg.svg) no-repeat center center;
    background-size: contain, cover;
  }
  &-illustration {
 
    transform: translateY(55%) rotate(2deg) scale(1.2);
    width:100%;
    object-fit: contain;
  }
  > .container {
    display:flex;
 
  }

  &-content {
    // max-width: 50rem; //600px
    min-height: 400px;
    display:flex;
    align-items: center;
 
  }

  &-title,
  &-subtitle {
    color: white;
   
  }
  &-title {
    color: var(--white);
    // font-weight: 800;
    font-size: 40px;
    line-height: normal;
    @media (min-width: 600px) {
      font-size: 56px;
    }
  }

  &-subtitle {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: normal;
 
    font-weight: 600;
    @media (min-width: 600px) {
      font-size: 24px;
    }
  }

  &-excerpt {
    color: white;
    font-size: 16px;
    text-align: center;
    max-width: 800px;
    font-weight: 300;
    margin: 0 auto;
    @media (min-width: 600px) {
      font-size: 20px;
    }
  }
}

/*=============================================
=            section            =
=============================================*/

.section {
  position: relative;
  z-index: 1;
  padding: 40px 0;
  @media(min-width:992px){
    padding: 80px 0;
  }

  &[data-background] {
    background-color: var(--black);
    .section-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      object-fit: cover;
    }
  }

  &-header {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }
  // light
  &--light {
    background-color: #fff;
  }

  &-title {
 
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 600;
    font-size: 32px;
    @media (min-width: 600px) {
      font-size: 42px;
    }
  }
}

/*=============================================
=            card            =
=============================================*/

.card {
  --color: var(--gray-dark);
  border-radius: var(--radiius);
  // border-radius: 16px;
&--has-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) !important;
  }
}
  &-body {
    padding: 32px;
  }
  &.card--hovered:hover {
    .card-title:after {
      width: 100%;
    }
  }

  .card-title {
    font-weight: bold;
    position: relative;
 
    color: var(--color);
    
  }

  .card-text {
    color: var(--color);
  }

  .icon {
    .material-icons {
      font-size: 50px;
      color: var(--primary);
    }
  }
}

/*=============================================
=        about section           =
=============================================*/

.section--about {
  position: relative;
  background: linear-gradient(white, white, rgba(#1d648b, 0.1));
  .blobsvg {
    position: absolute;
    top:0;
    
    right:0;
    height:100%;
    width:auto;
    z-index: -1;
    opacity: 0.02;
    @media (min-width:768px){
      opacity: 0.2;
    }
  }
}
 
 
  
  /*=============================================
  =            stacked card            =
  =============================================*/
  
  
  .stacked-card-wrapper {
    position: relative;
    padding: 40px 0;
    @media(min-width:992px){
      padding: 80px 0;
    }
    >svg {
      position: absolute;
      top:0;
      left:0;
      right:0;
    }

    .card-img {
      border-radius:20px;
    }

    .card--stacked {
      max-width:800px;
      margin:0 auto;
    }
  }

  .card--stacked {
    padding:60px;
    background-color: var(--blue);
    border-radius: 50px;
    box-shadow: 0px 26px 0px -15px #A5D5EE, 
    0px 30px 0px -16px #96C6E0, 
    0px 52px 0px -30px #CFEEFF, 
    0px 53px 0px -29px #A5D5EE;

    *:not(.btn){
      color:white;
    }
  }
  

/*=============================================
=            footer            =
=============================================*/

.footer {
  text-align: center;
  margin-top: 24px;
  color: white;
}
