/*=============================================
=            Bootstrap Overriddes            =
=============================================*/
/**
 *
 * * Global overides
 *
 */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--gray-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 1.5px;
}

blockquote {
  font-style: italic;
  line-height: 1.75;
  text-align: center;
}

/**
 *
 * custom scrollbar
 *
 */
html {
  --scrollbarBG: transparent;
  --thumbBG: #90a4ae;
}

*::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/**
 *
 * * Colors
 *
 */
:root {
  --primary: #e84151;
  --gray-darkest: #212529;
  --black: #000;
  --radiius: 16px;
  --cardBG: #f0f0f0;
  --yellow: #fdb90c;
  --red: #e84151;
  --green: #40bb82;
  --blue: #1d648b;
}

/**
 *
 * * Typography
 *
 */
/**
 *
 ** Button
 *
 */
.btn {
  --bg: #e84151;
  --bgHover: #e84151;
  border-radius: 100px;
  font-weight: normal;
  padding: 12px 20px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--bg);
  border-color: var(--bg);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(:disabled):active, .btn-primary:not(:disabled):not(:disabled):active:focus {
  background-color: var(--bgHover);
  border-color: var(--bgHover);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(var(--bg), 0.5);
          box-shadow: 0 0 0 0.2rem rgba(var(--bg), 0.5);
}

.btn-lg {
  padding: 18px 36px;
}

/**
  *
  * * Form
  *
  */
.form-group > label {
  text-transform: capitalize;
  font-weight: 600;
}

.form-label {
  font-size: 18px;
  font-weight: 600;
}

/**
   *
   * img
   *
   */
.img-fluid.img-rounded {
  border-radius: var(--radiius);
  margin-top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.img-fluid.img-rounded:hover {
  margin-top: -5px;
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

.img-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

/*=============================================
=            navbar /header            =
=============================================*/
.navbar {
  background-color: #fff;
}

.navbar-brand {
  left: 0;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar-brand img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 50px;
}

.navbar .nav-link {
  padding: 6px 16px;
}

.navbar .nav-item--shop .nav-link {
  border: 1px solid #e84151;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #e84151 !important;
  text-align: center;
}

.navbar .nav-item--shop .nav-link:hover, .navbar .nav-item--shop .nav-link:focus {
  background-color: var(--red);
  color: white !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item.dropdown:hover .dropdown-menu, .navbar-light .navbar-nav .nav-item.dropdown.show .dropdown-menu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.navbar-light .navbar-nav .dropdown-menu {
  border: none;
  padding: 0;
  margin-bottom: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .dropdown-menu {
    display: block;
    background-color: #e84151;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
  }
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item {
  text-transform: capitalize;
  padding: 0.5rem 1.5rem;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar-light .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar-light .navbar-nav .dropdown-menu .dropdown-item:active, .navbar-light .navbar-nav .dropdown-menu .dropdown-item.active {
  background-color: #e84151;
  color: white;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .dropdown-menu .dropdown-item {
    color: white;
  }
  .navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #db1b2d;
  }
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-item:not(:last-child) {
    margin-right: 16px;
  }
}

.navbar-light .navbar-nav .nav-item > .nav-link {
  text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: var(--gray);
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: var(--red);
}

.navbar-light .navbar-nav .nav-item.show .nav-link {
  color: var(--red);
}

.navbar-nav .nav-link {
  font-size: 18px;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-toggle:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  font-family: "Material Icons";
  content: "\e313";
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: -14px;
}

.dropdown.show .dropdown-toggle:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown:hover .dropdown-toggle:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/*=============================================
=            hero             =
=============================================*/
.hero {
  --maxHeight: 43.75rem;
  padding-bottom: 160px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--maxHeight);
}

.hero[data-background] {
  background: url(../img/hero-illustration.png) no-repeat center bottom, url(../img/hero-bg.svg) no-repeat center center;
  background-size: contain, cover;
}

.hero-illustration {
  -webkit-transform: translateY(55%) rotate(2deg) scale(1.2);
          transform: translateY(55%) rotate(2deg) scale(1.2);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-title, .hero-subtitle {
  color: white;
}

.hero-title {
  color: var(--white);
  font-size: 40px;
  line-height: normal;
}

@media (min-width: 600px) {
  .hero-title {
    font-size: 56px;
  }
}

.hero-subtitle {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: normal;
  font-weight: 600;
}

@media (min-width: 600px) {
  .hero-subtitle {
    font-size: 24px;
  }
}

.hero-excerpt {
  color: white;
  font-size: 16px;
  text-align: center;
  max-width: 800px;
  font-weight: 300;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .hero-excerpt {
    font-size: 20px;
  }
}

/*=============================================
=            section            =
=============================================*/
.section {
  position: relative;
  z-index: 1;
  padding: 40px 0;
}

@media (min-width: 992px) {
  .section {
    padding: 80px 0;
  }
}

.section[data-background] {
  background-color: var(--black);
}

.section[data-background] .section-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-header {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.section--light {
  background-color: #fff;
}

.section-title {
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 600;
  font-size: 32px;
}

@media (min-width: 600px) {
  .section-title {
    font-size: 42px;
  }
}

/*=============================================
=            card            =
=============================================*/
.card {
  --color: var(--gray-dark);
  border-radius: var(--radiius);
}

.card--has-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card--has-shadow:hover {
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) !important;
}

.card-body {
  padding: 32px;
}

.card.card--hovered:hover .card-title:after {
  width: 100%;
}

.card .card-title {
  font-weight: bold;
  position: relative;
  color: var(--color);
}

.card .card-text {
  color: var(--color);
}

.card .icon .material-icons {
  font-size: 50px;
  color: var(--primary);
}

/*=============================================
=        about section           =
=============================================*/
.section--about {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(white), to(rgba(29, 100, 139, 0.1)));
  background: linear-gradient(white, white, rgba(29, 100, 139, 0.1));
}

.section--about .blobsvg {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: auto;
  width: auto;
  z-index: -1;
  opacity: 0.02;
}

@media (min-width: 768px) {
  .section--about .blobsvg {
    opacity: 0.05;
  }
}

/*=============================================
  =            stacked card            =
  =============================================*/
.stacked-card-wrapper {
  position: relative;
  padding: 40px 0;
}

@media (min-width: 992px) {
  .stacked-card-wrapper {
    padding: 80px 0;
  }
}

.stacked-card-wrapper > svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.stacked-card-wrapper .card-img {
  border-radius: 20px;
}

.stacked-card-wrapper .card--stacked {
  max-width: 800px;
  margin: 0 auto;
}

.card--stacked {
  padding: 60px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#2786BA), to(#1D648B)), #1D648B;
  background: linear-gradient(180deg, #2786BA 0%, #1D648B 100%), #1D648B;
  border-radius: 50px;
  -webkit-box-shadow: 0px 26px 0px -15px #A5D5EE,  0px 30px 0px -16px #96C6E0,  0px 52px 0px -30px #CFEEFF,  0px 53px 0px -29px #A5D5EE;
          box-shadow: 0px 26px 0px -15px #A5D5EE,  0px 30px 0px -16px #96C6E0,  0px 52px 0px -30px #CFEEFF,  0px 53px 0px -29px #A5D5EE;
}

.card--stacked:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.card--stacked *:not(.btn) {
  color: white;
}

/*=============================================
=            footer            =
=============================================*/
.footer {
  text-align: center;
  margin-top: 24px;
  color: white;
}
/*# sourceMappingURL=app.css.map */